apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Values.namespace }}
  labels:
    grafana_datasource: "1"
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.{{ .Values.namespace }}.svc:9090
        isDefault: true
        editable: false
        uid: "prometheus"
        jsonData:
          timeInterval: "30s"
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.{{ .Values.namespace }}.svc:3100
        editable: false
        jsonData:
          derivedFields:
            - datasourceUid: prometheus
              matcherRegex: "(\\w+):(\\d+)"
              name: trace_id
              url: "$${__value.raw}"
