apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: {{ .Values.namespace }}
data:
  config.river: |
    loki.source.kubernetes "pods" {
      forward_to = [loki.write.hub.receiver]
    }

    loki.write "hub" {
      endpoint {
        url = "http://loki.{{ .Values.namespace }}.svc:3100/loki/api/v1/push"
      }
    }

    prometheus.exporter.unix "local_system" {
      set_collectors = ["systemd", "filesystem", "cpu", "meminfo", "disk", "loadavg", "netdev"]
    }

    prometheus.scrape "metrics_scraper" {
      targets    = prometheus.exporter.unix.local_system.targets
      forward_to = [prometheus.remote_write.hub.receiver]
      scrape_interval = "30s"
    }

    prometheus.remote_write "hub" {
      endpoint {
        url = "http://prometheus.{{ .Values.namespace }}.svc:9090/api/v1/write"
      }
    }
