apiVersion: v1
kind: Service
metadata:
  name: alloy
  namespace: {{ .Values.namespace }}
  labels:
    app: alloy
spec:
  selector:
    app: alloy
  ports:
    - name: http
      port: 9090
      targetPort: 9090
  type: ClusterIP
