apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: {{ .Release.Name }}
  namespace: argocd
spec:
  namespace: argocd
  applicationRefs:
    - namePattern: {{ .Release.Name }}
      images:
        - alias: controller
          imageName: {{ .Values.controller.image.repository }}
          commonUpdateSettings:
            updateStrategy: digest
            versionConstraint: latest
          manifestTargets:
            helm:
              name: controller.image.repository
              tag: controller.image.tag
