apiVersion: config.terraform.padok.cloud/v1alpha1
kind: TerraformLayer
metadata:
  name: infra-tofu
  namespace: infra-tofu
spec:
  opentofu:
    enabled: true
  path: "terraform"
  branch: "master"
  repository:
    name: infra-tofu
    namespace: infra-tofu
  overrideRunnerSpec:
    command: ["/bin/sh"]
    args:
      - "-c"
      - "apk add --no-cache gcompat && exec burrito runner start"
    envFrom:
      - secretRef:
          name: infra-tofu-secrets
