apiVersion: config.terraform.padok.cloud/v1alpha1
kind: TerraformLayer
metadata:
  name: infra-tofu
  namespace: infra-tofu
spec:
  opentofu:
    enabled: true
  path: "terraform"
  branch: "master"
  repository:
    name: infra-tofu
    namespace: infra-tofu
  overrideRunnerSpec:
    initContainers:
      - name: install-gcompat
        image: alpine:latest
        command:
          - sh
          - '-c'
          - 'apk add --no-cache --root /tmp/gcompat gcompat'
        volumeMounts:
          - name: gcompat
            mountPath: /tmp/gcompat
    volumes:
      - name: gcompat
        emptyDir: {}
    volumeMounts:
      - name: gcompat
        mountPath: /usr/local/gcompat
    env:
      - name: LD_LIBRARY_PATH
        value: /usr/local/gcompat/lib:/usr/local/gcompat/lib64
    envFrom:
      - secretRef:
          name: infra-tofu-secrets
