apiVersion: config.terraform.padok.cloud/v1alpha1
kind: TerraformLayer
metadata:
  name: infra-tofu
  namespace: infra-tofu
spec:
  opentofu:
    enabled: true
  path: "terraform"
  branch: "master"
  repository:
    name: infra-tofu
    namespace: infra-tofu
  overrideRunnerSpec:
    initContainers:
      - name: install-gcompat
        image: alpine:latest
        command:
          - sh
          - '-c'
          - 'apk add --no-cache gcompat && mkdir -p /usr/local/gcompat/lib && find /lib /usr/lib -name "ld-linux*.so*" -o -name "libc.so*" -o -name "libdl.so*" -o -name "libm.so*" -o -name "libpthread.so*" | xargs -I {} cp -v {} /usr/local/gcompat/lib/'
        volumeMounts:
          - name: gcompat
            mountPath: /usr/local/gcompat
    volumes:
      - name: gcompat
        emptyDir: {}
    volumeMounts:
      - name: gcompat
        mountPath: /usr/local/gcompat
    env:
      - name: LD_LIBRARY_PATH
        value: /usr/local/gcompat/lib
    envFrom:
      - secretRef:
          name: infra-tofu-secrets
