apiVersion: config.terraform.padok.cloud/v1alpha1
kind: TerraformRepository
metadata:
  name: infra-tofu
  namespace: infra-tofu
spec:
  opentofu:
    enabled: true
  repository:
    url: https://github.com/Dumspy/infra-tofu
