apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
  annotations:
    operator.1password.io/autorestart: "true"
spec:
  replicas: {{ .Values.cloudflared.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      securityContext:
        sysctls:
        # Allows ICMP traffic (ping, traceroute) to resources behind cloudflared.
          - name: net.ipv4.ping_group_range
            value: "65532 65532"
      containers:
        - name: cloudflared
          image: "{{ .Values.cloudflared.image.repository }}:{{ .Values.cloudflared.image.tag }}"
          imagePullPolicy: {{ .Values.cloudflared.image.pullPolicy }}
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-secret"
                  key: token
          command:
            - cloudflared
            - tunnel
            - --no-autoupdate
            - --loglevel
            - {{ .Values.cloudflared.logLevel }}
            - --metrics
            - 0.0.0.0:{{ .Values.cloudflared.metricsPort }}
            - run
          livenessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.cloudflared.metricsPort }}
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.cloudflared.metricsPort }}
            failureThreshold: 1
            initialDelaySeconds: 5
            periodSeconds: 5
          {{- with .Values.cloudflared.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
