apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: monitoring-hub
  namespace: {{ .Values.namespace }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: {{ .Values.namespace }}
    - from:
        - ipBlock:
            cidr: 100.64.0.0/10
      ports:
        - protocol: TCP
          port: 9090
        - protocol: TCP
          port: 3100
