argo-cd:
  server:
    service:
      type: NodePort
  configs:
    params:
      server.insecure: "true"
  notifications:
    enabled: true
    secret:
      create: false # using 1Password operator instead
    cm:
      create: true
    notifiers:
      service.slack: |
        token: $slack-token
        icon: https://argo-cd.readthedocs.io/en/stable/assets/logo.png
        channels: ["deployments"]
    templates:
      template.app-created: |
        message: |
          :new: Application *{{.app.metadata.name}}* has been created in <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|ArgoCD>.
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
          Repo: {{.app.spec.source.repoURL}}
          Revision: {{.app.status.sync.revision}}
      template.app-deleted: |
        message: |
          :wastebasket: Application *{{.app.metadata.name}}* has been deleted from <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|ArgoCD>.
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
      template.app-deployed: |
        message: |
          :rocket: Application *{{.app.metadata.name}}* has been deployed successfully.
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
          Revision: {{.app.status.sync.revision}}
          Commit Author: {{.app.status.sync.author}}
          <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|View in ArgoCD>
      template.app-health-degraded: |
        message: |
          :warning: Application *{{.app.metadata.name}}* health has degraded!
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
          Health Status: {{.app.status.health.status}}
          Reason: {{.app.status.health.message}}
          <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|View in ArgoCD>
      template.app-sync-failed: |
        message: |
          :x: Failed to sync application *{{.app.metadata.name}}*.
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
          Phase: {{.app.status.operationState.phase}}
          Message: {{.app.status.operationState.message}}
          <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|View in ArgoCD>
      template.app-sync-running: |
        message: |
          :arrows_counterclockwise: Syncing application *{{.app.metadata.name}}*...
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
          <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|View in ArgoCD>
      template.app-sync-status-unknown: |
        message: |
          :question: Application *{{.app.metadata.name}}* sync status is unknown.
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
          Sync Status: {{.app.status.sync.status}}
          <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|View in ArgoCD>
      template.app-sync-succeeded: |
        message: |
          :white_check_mark: Application *{{.app.metadata.name}}* has been successfully synced.
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
          Revision: {{.app.status.sync.revision}}
          <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|View in ArgoCD>
      template.app-rollback: |
        message: |
          :rewind: Application *{{.app.metadata.name}}* has been rolled back.
          Project: {{.app.spec.project}}
          Namespace: {{.app.spec.destination.namespace}}
          Rolled back to Revision: {{.app.status.sync.revision}}
          <https://internal.rger.dev:30080/applications/{{.app.metadata.name}}|View in ArgoCD>
    triggers:
      trigger.on-created: |
        - when: app.metadata.creationTimestamp != nil and app.status.operationState.phase == 'Succeeded'
          send: [app-created]
      trigger.on-deleted: |
        - when: app.metadata.deletionTimestamp != nil
          send: [app-deleted]
      trigger.on-deployed: |
        - when: app.status.operationState.phase in ['Succeeded'] and app.status.health.status == 'Healthy' and app.status.operationState.operation == 'Sync'
          send: [app-deployed]
      trigger.on-health-degraded: |
        - when: app.status.health.status == 'Degraded' and app.status.operationState.phase != 'Running'
          send: [app-health-degraded]
      trigger.on-sync-failed: |
        - when: app.status.operationState.phase in ['Error', 'Failed']
          send: [app-sync-failed]
      trigger.on-sync-running: |
        - when: app.status.operationState.phase in ['Running']
          send: [app-sync-running]
      trigger.on-sync-status-unknown: |
        - when: app.status.sync.status == 'Unknown'
          send: [app-sync-status-unknown]
      trigger.on-sync-succeeded: |
        - when: app.status.operationState.phase in ['Succeeded'] and app.status.operationState.operation == 'Sync'
          send: [app-sync-succeeded]
      trigger.on-rollback: |
        - when: app.status.operationState.operation == 'Rollback' and app.status.operationState.phase == 'Succeeded'
          send: [app-rollback]
      trigger.on-manual-sync: |
        - when: app.status.operationState.operation == 'Sync' and app.status.operationState.phase == 'Succeeded' and app.status.operationState.syncResult.revision != app.status.sync.revision
          send: [app-sync-succeeded]
